<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:命名空间，作用就是对sql进行分类化管理，sql隔离
		注意：在使用mapper的代理方法开发时，有重要作用  
				namespace命名必须与Mapper接口的路径相同 -->
<mapper namespace="online.shenjian.xuefeng.mapper.UserMapper">
	
	<select id="getUser" resultType="User">
		select * from user;
	</select>

	
	
</mapper>
 